body{
    text-align:center;
    background: darkturquoise;
}
div{
    margin-top: 15px;
}
.Light{
    display: flex;
    justify-content: center;
}
.Fire{
    display: flex;
    justify-content: center;
}
.Dark{
  margin-left: 15px;
  margin-right: 15px;
  background: azure;
}
.Ice{
    margin-left: 15px;
    margin-right: 15px;
    background: azure;
  }
  img{
      width: 800px;
      height:800px;
  }
  p{
      width: 750px;
      height: 100px;
      font-size: medium;
  }
  